/* Header */
$headerColor: #ffffff;
$marginH1: 20%;
$marginList: 1em;
$headerNavFlex: 1;
$headerBackgroundColor: 444444;
$headerHeight: 10em;

/*Body*/
/*Article*/
$articleColor: #444444;
$articleBackgroundColor: #dddddd;
$articleBorder: 1px solid #444444;
$articleHeight: 20em;
$articleMargin: 1em;
$articleFlex: 0 0 40%;
$articlePadding: 0.1em;

/*Sidebar*/
$sidebarBackgroundColor: #aaaaaa;
$sidebarColor: #444444;
$sidebarSectionBackgroundColor: #dddddd;
$sidebarSectionBorder: 1px solid #444444;
$sidebarSectionHeight: 10em;
$sidebarSectionMargin: 5% 5% 5% 5%;





/*Footer*/
$footerBackgroundColor: #444444;
$footerColor: #eeeeee;
$footerWidth: 90%;
