/* resetting some browser-default styles */
/* DO NOT CHANGE THESE */
html,body,header,main,footer,section,aside,h1,h2,h3,h4,p{margin:0;padding:0;}
ul{margin:0;}

body {
  /* DO NOT CHANGE THESE */
  font-family: Verdana, Arial, sans-serif;
  }

main {
  display: flex;
  flex-direction: row;
  flex-grow: 1
  /*flex-grow: 1;*/
  }

.container {
  /*everything*/
  display: flex;
  }

.hero {
  /* DO NOT CHANGE THESE */
  background-color: #444444;
  }

.hero h1 {
   /* DO NOT CHANGE THESE */
   color: #ffffff;
   }


.posts {
   flex-wrap: wrap;
   /* DO NOT CHANGE THESE */
   color: #444444
   /*margin:*/

   }

.posts article {
   /* DO NOT CHANGE THESE */
   background-color: #dddddd;
   border: 1px solid #444444;
   height: 20em; /* this is just so we can see the articles since they have no content */
   justify-content:space-between;
   display: flex;
   margin: 1em;
   width: 30%;
   }

.sidebar {
   /* DO NOT CHANGE THESE */
   background-color: #aaaaaa;
   color: #444444;
   margin: 1em;
   /*margin:*/
   }

.sidebar section {
    /* DO NOT CHANGE THESE */
    background-color: #dddddd;
    border: 1px solid #444444;
    height: 10em; /* this is just so we can see the articles since they have no content */
    }


footer {
    /* DO NOT CHANGE THESE */
    background-color: #444444;
    color: #eeeeee;
    }
